.hero--carousel {
    position: relative;

    .hero-container {
        display: grid;
        grid-template-columns: 1fr 0fr;
        grid-template-rows: 1fr auto;
        grid-row: 1;
        grid-column: 1;
    }

    .hero__navigation {
        display: flex;
        grid-row: 1;
        grid-column: 1;
        align-self: flex-end;
        z-index: 1;
        align-items: center;
        padding-left: 4rem;
        gap: 1rem;
    }

    .hero__content {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
            opacity: 1;
        }

        &.prev {
            opacity: 0;
        }

        &.next {
            opacity: 0;
        }
    }
}