.hero.carousel {
    .hero__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-row: 1;
        grid-column: 1;
        height: 4rem;
        position: absolute;
        bottom: 0;
        padding: 0 4rem;

        .hero__nav__button {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            padding: 0.5rem;
            box-shadow: var(--elevation-medium);
            border: 1px solid transparent;
            z-index: 1;
        }
    }

    .hero__content {
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &.active {
            opacity: 1;
        }

        &.prev {
            opacity: 0;
        }

        &.next {
            opacity: 0;
        }
    }
}