.hero.carousel {
    position: relative;

    .hero__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-row: 1;
        grid-column: 1;
        height: 4rem;
        z-index: 1;
        bottom: 0;
        padding-left: 4rem;
        position: absolute;

        .hero__nav__button {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            padding: 0.5rem;
            box-shadow: var(--elevation-medium);
            border: 1px solid transparent;
        }
    }

    .hero__content {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &.active {
            opacity: 1;
        }

        &.prev {
            opacity: 0;
        }

        &.next {
            opacity: 0;
        }
    }
}